:root {
  --link-colour: #3DA071;
  --hover-colour: #E81481;
  --ball-colour-default: #B1E0C0;
  --ball-colour-stdlib: #00556E;
  --ball-colour-external: #F8D726;
  --ball-colour-docs: #DD9928;
  --ball-colour-maybe: #990134;
  --wenk-colour: rgba(12, 12, 44, 0.7);
  --wenk-font-size: 11px;
}

a.module-linker {
  color: var(--link-colour);
  transition: color 200ms linear;
}
a.module-linker::after {
  content: ' ';
  transition: color 300ms linear;
  border-radius: 85px;
  display: inline-block;
  margin-left: 4px;
  height: 6px;
  width: 6px;
  position: relative;
  top: 6px;
}
a.module-linker::after { background: var(--ball-colour-default); }
a.module-linker.stdlib::after { background: var(--ball-colour-stdlib); }
a.module-linker.external::after { background: var(--ball-colour-external); }
a.module-linker.docs::after { background: var(--ball-colour-docs); }
a.module-linker.maybe::after { background: var(--ball-colour-maybe); }
a.module-linker:hover {
  text-decoration: none;
  color: var(--hover-colour);
  transition: color 200ms linear;
}
a.module-linker:hover * {
  color: inherit;
}
a.module-linker:hover::after {
  background: var(--hover-colour);
  transition: color 300ms linear;
}
