:root {
  --link-colour: #3DA071;
  --ball-colour: #8C8DC7;
  --hover-colour: #E81481;
  --wenk-colour: rgba(12, 12, 44, 0.7);
  --wenk-font-size: 11px;
}

a.module-linker {
  color: var(--link-colour);
  transition: color 200ms linear;
}
a.module-linker::after {
  content: ' ';
  background: var(--ball-colour);
  transition: color 300ms linear;
  border-radius: 85px;
  display: inline-block;
  margin-left: 4px;
  height: 6px;
  width: 6px;
  position: relative;
  top: 6px;
}
a.module-linker:hover {
  text-decoration: none;
  color: var(--hover-colour);
  transition: color 200ms linear;
}
a.module-linker:hover * {
  color: inherit;
}
a.module-linker:hover::after {
  background: var(--hover-colour);
  transition: color 300ms linear;
}
