* { box-sizing: border-box }

body {
  margin: auto;
  width: 900px;
  max-width: 100%;
  text-align: center;
  font-size: 200%;
}

article {
  display: none;
}
article:target {
  display: block;
}
article img {
  display: inline;
  width: 100%;
  border: 7px solid #333;
  margin-bottom: 20px;
}

ul, p { text-align: justify; }

a {
  color: #158cba;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
a:active { color: #f42040; }

#top a.to-top { display: none; }
#top:not(:target) a.to-top { display: initial; }
