body {
  margin: auto;
  width: 900px;
  text-align: center;
  font-size: 200%;
}

img[src^=screenshot] {
  display: inline;
  width: 100%;
  border: 7px solid #333;
  margin-bottom: 20px;
}

ul, p { text-align: justify; }
